/* @override
	http://new.bxcreative.com/sites/all/themes/bxcreative/css/bxcreative.css?lvhvgr
*/

/*
@colors:
	tan:        #f7f4f0;
	dark gray:  #302f2e;
	light gray: #818181;
	red:        #de3329;
*/

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

/** TYPOGRAPHY
================================================= **/

@font-face {
	font-family: KievitWeb;
	src: url(../fonts/KievitWeb.eot);
	font-weight:  normal;
}

@font-face {
	font-family: KievitWeb;
	src: url(../fonts/KievitWeb-Bold.eot);
	font-weight: bold;
}

@font-face {
	font-family: KievitWeb;
	src: url(../fonts/KievitWeb.woff) format("woff");
	font-weight: normal;
}

@font-face {
	font-family: KievitWeb;
	src: url(../fonts/KievitWeb-Bold.woff) format("woff");
	font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	background: #f9f9f9;
	font-family: 'Helvetica';
}

h1, h2, h3, h4 {
	color: #302f2e;
	font-family: KievitWeb;
}

h1 {
	color: #302f2e;
	font-size: 56px;
	line-height: 68px;
	margin-bottom: 10px;
}

h1 a {
	color: #302f2e;
	-moz-transition: color 0.15s ease-in-out 0s;
	-webkit-transition: color 0.15s ease-in-out 0s;
}

h1 a:hover {
	color: #de3329;
}

h2 {
	margin-bottom: 14px;
	position: relative;
}

h2 a {
	/*font-weight: normal;*/
}

h2 a.hover {
	text-decoration: underline;
}

h2 span {
	color: #27ae60;
	font-weight: normal;
	display: none;
}

a {
	text-decoration: none;
	color: #3498db;
}

em {
	color: #de3329;
	font-style: normal;
}

/*::selection {
	background: #de3329;
	color: #f7f4f0;
}
::-moz-selection {
	background: #de3329;
	color: #f7f4f0;
}
*/
.inner {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

#content {
	background: #fff;
	padding: 40px 0;
}

.disabled {
	color: #ccc;
}


/** HEADER
================================================= **/

header {
	background: #f9f9f9;
	border-bottom: solid #ddd 3px;
	font-family: KievitWeb;
}

header .inner {
	font-weight: bold;
	padding: 0 20px;
}

header a:hover {
	color: #de3329;
	text-decoration: none;
}

header .logo {
	color: #454545;
	font-size: 32px;
	margin-top: 20px;
	float: left;
	margin-bottom: 15px;
	-moz-transition: all 0.15s ease-in-out 0s;
	-webkit-transition: all 0.15s ease-in-out 0s;
}

header .logo img {
	vertical-align: top;
	margin-right: 8px;
}

header nav {
	float: right;
	display: inline-block;
}

header nav li {
	float: left;
	list-style: none;
}

header nav li a {
	display: block;
	padding: 30px 0 0;
	font-size: 18px;
	font-weight: bold;
}

/** FOOTER
================================================= **/

footer {
	border-top: solid #ddd 3px;
	font-family: KievitWeb;
}

footer .inner {
	padding-top: 30px;
	padding-bottom: 30px;
}

footer a {
	color: #3498db;
}

footer a:hover {
	color: #de3329;
}

footer h4 {
	color: #454545;
	font-weight: bold;
}

/*footer logo*/
footer .company {
	float: left;
	margin-right: 60px;
}

footer h4 {
	font-size: 22px;
}

footer h4 img {
	vertical-align: top;
	position: relative;
	top: 3px;
	margin-right: 8px;
}

footer .company p {
	margin-left: 28px;
}





/*------------- SETTINGS-WRAP -------------*/

#settings-wrap {
	float: left;
	width: 418px;
	padding: 0;
}

#settings-wrap label {
	padding-right: 10px;
	width: 125px;
	float: left;
	/*clear: left;*/
	padding-top: 8px;
	font-size: 12px;
	text-align: right;
	padding-left: 26px;
}

#settings-wrap input[type="text"] {
	padding: 3px;
	font-size: 12px;
	width: 34px;
	float: left;
	margin-bottom: 18px;
}
#settings-wrap input[type="checkbox"] {
	position: absolute;
	margin-top: 8px;
	margin-left: 12px;
	left: 0;
}

#settings-wrap #text {
	width: 187px;
}

#settings-wrap select {
	margin-top: 5px;
	margin-bottom: 20px;
}

.form-wrap {
	clear: both;
}

a.more-link {
	font-size: 12px;
	padding-left: 10px;
	position: relative;
	top: 5px;
}

.more {
	clear: left;
	display: none;
}

.accordion-inner {
	display: none;
	border-left: solid #ccc 1px;
	border-right: solid #ccc 1px;
}

.accordion-inner.last {
	border-bottom: solid #ccc 1px;
}

.accordion-inner.font {
	display: block;
}

/*------------- BUTTON-WRAP -------------*/

#button-wrap {
	float: right;
	min-width: 468px;
	margin-bottom: 35px;
	position: relative;
}

#button-wrap-inner {
	padding: 100px 30px;
	border: 1px solid #ccc;
	text-align: center;
}

/*------------- BROWSER-WRAP -------------*/

#browser-wrap {
	float: right;
	width: 468px;
}

#browser-wrap-inner {
	border: 1px solid #ccc;
	padding-left: 55px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#browser-wrap-inner li {
	list-style: none;
	float: left;
	text-align: center;
	padding-right: 27px;
}

#browser-wrap li img {
	display: block;
	padding-bottom: 8px;
}

#browser-wrap li span {
	display: block;
	font-size: 14px;
	text-shadow: #cecece 1px 1px 1px;
}

#browser-wrap li span span {
	font-size: 11px;
	padding-top: 4px;
}

#browser-wrap li.ie > span {
	position: relative;
	left: 7px;
}

/*------------- STYLES-WRAP -------------*/

#styles-wrap {

	clear: both;
	width: 100%;
	padding-top: 40px;
}

#styles-wrap-inner {
	border: 1px solid #ccc;
	padding: 5px 15px 10px;
}

#styles-wrap pre {
	padding-top: 16px;
	font: 14px/18px Droid Sans Mono;
	letter-spacing: 1px;
}

#styles-wrap pre .code-row {
	height: 19px;
}

#styles-wrap pre .code-row.odd {
	background: #f9f9f9;
	line-height: 20px;
}

#ie-styles-wrap {
	font-size: 12px;
	padding-top: 35px;
}

/*------------- RADIO BUTTONS -------------*/

.radio-wrap {
	padding-top: 6px;
	height: 34px;
	float: left;
	padding-left: 1px;
}

.radio-wrap input {
	float: left;
}

#settings-wrap .radio-wrap label {
	float: left;
	padding-right: 33px;
	padding-left: 4px;
	clear: none;
	width: 31px;
	padding-top: 0;
}

#settings-wrap input[type="text"].color {
	width: 100px;
}

.color-view {
	border: 1px solid #ccc;
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 8px;
	margin-top: 3px;
	cursor: pointer;
}

.colorpicker {
	z-index: 9999;
}

/*------------- SLIDER -------------*/

.ui-slider {
	width: 134px;
	clear: none;
	margin-bottom: 0;
	float: left;
	margin-top: 7px;
	margin-left: 20px;
}

.ui-slider .ui-slider-handle {
	width: 9px;
	margin-left: -5px;
	height: 24px;
	margin-top: -2px;
}

/*------------- FONT -------------*/

#settings-wrap .panel-wrap {
	/*background: url(../images/bg_panel.png);*/
	background: #777;
	cursor: pointer;
	font-size: 14px;
	clear: left;
	height: 30px;
	border-bottom: solid #666 1px;
}

#settings-wrap .panel-wrap:hover,
#settings-wrap .panel-wrap.active {
	background: #3498db;
	border-bottom: solid #2980b9 1px;
}

#settings-wrap h3 {
	color:#fff;
	font-size: 16px;
	font-weight: normal;
	padding-left: 10px;
	/*background: url(../images/icon_expand.png) no-repeat 10px 7px;*/
	line-height: 30px;
}

#settings-wrap h3 span {
	font-size: 18px;
}

.accordion-inner2 {
	padding-top: 20px;
	position: relative;
}












